@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.cuadro {
  background-color: #000000;
  width: 100%;
  min-height: 600px;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  display: flex;
  flex-direction: column;
  border: 2px solid #ffffff; 
}

.botones {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.botones .left {
  display: flex;
}

.botones .right {
  display: flex;
  gap: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 1; 
}

.logo {
  top: 20px;
  left: 20px;
  width: 50px; 
  height: 50px;
}

.project {
  width: 100%;
  margin-bottom: 20px;
}

.project ul {
  list-style: none;
  padding: 0;
}

.project ul li {
  margin: 0.5rem 0;
}

.project ul li a {
  text-decoration: none;
  color: #f2f2f2;
  font-weight: bold;
}

.project ul li a:hover {
  text-decoration: underline;
  color: #ffffff;
}

.paragraph-container {
  width: 100%;
  color: #f2f2f2;
}

@media (min-width: 768px) {
  .content {
    flex-direction: row;
  }

  .project {
    width: 25%;
  }

  .paragraph-container {
    width: 70%;
  }
}

.footer {
  padding: 20px 10px;
  text-align: right;
  color: #6c757d;
  font-size: 0.9rem;
}
