.custom-link {
    color: #474f57;
    text-decoration: none; 
    font-weight: bold; 
    transition: color 0.3s ease, border-bottom 0.3s ease; 
    border-bottom: 2px solid transparent; 
    display: block; 
    margin-bottom: 10px; 
  }
  
  .custom-link:hover {
    color: #969696; 
  }